<div class="block-cookie">
    <div class="block-cookie__content">
        <div class="block-cookie__body">
            <div class="block-cookie__title">
                Мы используем cookie, чтобы сделать сайт удобнее
            </div>
            <p>
                Мы обрабатываем cookie, чтобы ваш веб-серфинг шел как по маслу, а скидки и рекомендации для вас были
                точно в яблочко! Хотите адаптировать настройки для себя? <a href="./">Настроить Cookies</a>
            </p>
        </div>
        <div class="block-cookie__buttons">
            <button type="button" class="btn btn-transparent btn-close">
                <span>Отклонить</span>
            </button>
            <button type="button" class="btn btn-add">
                <span>Принять все cookie</span>
            </button>
        </div>
    </div>
</div>