<footer class="footer">
    <div class="footer__content">
        <div class="container">
            <div class="footer-top">
                <a href="./" class="footer-top__logo">
                    <img loading="lazy" src="img/icons/logo2.svg" alt="">
                </a>
                <div class="footer-top__menu">
                    <ul>
                        <li>
                            <a href="./">Агентствам</a>
                        </li>
                        <li>
                            <a href="./">Туристам</a>
                        </li>
                        <li>
                            <a href="./">Школам</a>
                        </li>
                        <li>
                            <a href="./">О компании</a>
                        </li>
                        <li>
                            <a href="./">Юр. лицам</a>
                        </li>
                        <li>
                            <a href="./">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-center">
                <div class="footer-center__descr descr1">
                    <div class="footer-center__text1">
                        <img src="img/icons/logo5.svg" alt="">
                        <span>Туристическая компания “Профцентр —
                            действительный член Российского Союза
                            Туриндустрии</span>
                    </div>
                    <div data-da=".footer-bottom__content, 768, last" class="footer-center__text2">
                        <ul>
                            <li><span>Туроператор:</span> Реестровьй номер РТО 142843</li>
                            <li>Соглашение об обработке <a href="./" data-popup="#personal-data">персональных данных</a></li>
                        </ul>
                    </div>
                    <div class="contacts">
                        <div data-da=".contacts-mob, 992, 1" class="contacts__body">
                            <div class="contacts__icons">
                                <img src="img/icons/telegramm.svg" alt="">
                                <img src="img/icons/watsapp.svg" alt="">
                            </div>
                            <div class="contacts__phones">
                                <a href="tel:78463370888">7 (846) 337-0-888</a>
                                <a href="79276089160">7 (927) 608-91-60</a>
                            </div>
                        </div>
                        <div data-da=".contacts-mob, 992, 2" class="contacts__right">
                            <div class="contacts__text">
                                Многоканальный
                            </div>
                            <a href="./" data-popup="#call" class="contacts__link">
                                <span>Заказать звонок</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-center__descr">
                    <div class="footer-center__pay">
                        <img src="img/icons/visa.svg" alt="">
                        <img src="img/icons/mir.svg" alt="">
                        <img src="img/icons/master-card.svg" alt="">
                        <img src="img/icons/pay.svg" alt="">
                    </div>
                    <div class="footer-center__socials">
                        <a href="./">
                            <img src="img/icons/vk2.svg" alt="">
                            Профцентр
                        </a>
                        <a href="./">
                            <img src="img/icons/vk2.svg" alt="">
                            Турбазы
                        </a>
                    </div>
                    <div class="contacts contacts-mob">
                        <div class="contacts-map">
                            <div class="contacts-map__icon">
                                <img src="img/icons/map1.svg" alt="">
                            </div>
                            <div class="contacts-map__text">
                                <span>443100, г. Самара,</span>
                                Молодогвардейская 225, офис 1
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__content">
                <div class="footer-bottom__copy">
                    © Профцентр 2026 Все права защищены
                </div>
                <a href="mailto:profcentre@sama.ru" class="footer-bottom__email">
                    <img loading="lazy" src="img/icons/email.svg" alt="">
                    <span>profcentre@sama.ru</span>
                </a>
                <div class="footer-bottom__text">
                    Разработка сайта: <a href="./">miridea.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>