<div class="block-forms" data-watch data-watch-once>
    <div class="container">
        <div class="block-forms__content">
            <div class="block-forms-top" data-watch data-watch-once>
                <div class="block-forms-top__heading-complex">
                    <h2 class="title2" data-watch data-watch-once>Остались вопросы?</h2>
                    <p data-watch data-watch-once>
                        Укажите контактные данные и наш менеджер свяжется с Вами
                    </p>
                </div>
                <form data-ajax data-popup-message="#thanks" action="sendmail.php" method="POST" class="form" data-watch
                    data-watch-once>
                    <div class="form__body">
                        <div class="form__inputs">
                            <div class="form__input" data-watch data-watch-once>
                                <input data-required autocomplete="off" name="name" type="text" name="form[]"
                                    placeholder="Имя">
                            </div>
                            <div class="form__input" data-watch data-watch-once>
                                <input data-required="email" name="email" autocomplete="off" type="text" name="form[]"
                                    placeholder="E-mail">
                            </div>
                        </div>
                        <button type="submit" class="btn" data-watch data-watch-once>
                            <span>Отправить</span>
                        </button>
                    </div>
                    <div class="form__text" data-watch data-watch-once>
                        Нажимая «Отправить» Вы принимаете <a href="./" data-popup="#personal-data">Пользовательское
                            соглашение</a> и
                        даете
                        согласие на обработку ваших данных
                    </div>
                </form>
            </div>
            <img loading="lazy" src="img/image15.webp" alt="" class="block-forms__pic1" data-watch data-watch-once>
            <div class="block-forms-bottom" data-watch data-watch-once>
                <div class="block-forms-bottom__title" data-watch data-watch-once>
                    Будем на связи!
                </div>
                <form data-ajax data-popup-message="#thanks" action="sendmail-subscribe.php" method="POST" class="form"
                    data-watch data-watch-once>
                    <div class="form__title" data-watch data-watch-once>Подписка на наши e-mail рассылки:
                    </div>
                    <div class="form__body">
                        <div class="form__inputs">
                            <div class="form__input" data-watch data-watch-once>
                                <input data-required autocomplete="off" name="name" type="text" placeholder="Имя">
                            </div>
                            <div class="form__input" data-watch data-watch-once>
                                <input data-required="email" autocomplete="off" name="email" type="text"
                                    placeholder="E-mail">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-transparent" data-watch data-watch-once>
                            <span>Подписаться на рассылку</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>