<header class="header">
    <div class="container">
        <div class="header-top">
            <div class="header-top__column">
                <img src="img/icons/map1.svg" alt="">
                <span><strong>Самарская область, г. Самара</strong> ул. Молодогвардейская, 225</span>
            </div>
            <div class="header-top__column">
                <img src="img/icons/info.svg" alt="">
                <span>Номер в Федеральном реестре туроператоров <strong>РТО 003897</strong></span>
            </div>
        </div>
        <div class="header-center">
            <div class="header-center__left">
                <a href="./" class="header-center__logo">
                    <img src="img/icons/logo1.svg" alt="">
                </a>
                <div class="header-center__badge">
                    Нам <span>30 лет</span>
                </div>
                <div class="header-center__descr">
                    <div class="header-center__image">
                        <img src="img/icons/logo3.svg" alt="">
                        <img src="img/icons/logo4.svg" alt="">
                    </div>
                    <span>Туристическая компания “Профцентр —<br>
                        действительный член Российского Союза
                        Туриндустрии</span>
                </div>
            </div>
            <div class="contacts">
                <div data-da=".header-menu, 768, last" class="contacts__body">
                    <div class="contacts__icons">
                        <img src="img/icons/telegramm.svg" alt="">
                        <img src="img/icons/vk.svg" alt="">
                    </div>
                    <div class="contacts__phones">
                        <a href="tel:78463370888">7 (846) 337-0-888</a>
                        <a href="79276089160">7 (927) 608-91-60</a>
                    </div>
                </div>
                <div class="contacts__right">
                    <div data-da=".header-menu, 768, 2" class="contacts-login">
                        <div class="contacts-login__button">
                            <span>Личный кабинет</span>
                            <img src="img/icons/arrow1.svg" alt="">
                        </div>
                        <div class="contacts-login__dropdown">
                            <ul>
                                <li>
                                    <a href="./">Личный кабинет1</a>
                                </li>
                                <li>
                                    <a href="./">Личный кабинет2</a>
                                </li>
                                <li>
                                    <a href="./">Личный кабинет3</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="./" data-popup="#call" class="contacts__link">
                        <img src="img/icons/phone1.svg" alt="">
                        <span>Заказать звонок</span>
                    </a>
                </div>
            </div>
            <button type="button" class="icon-menu">
                <span></span>
            </button>
        </div>
        <div class="header-menu">
            <div class="header-menu__body">
                <ul>
                    <li>
                        <a href="./" data-goto=".block-catalog" data-goto-header><span>Туры</span></a>
                    </li>
                    <li>
                        <a href="./" data-goto=".block-popular" data-goto-header><span>Популярные направления</span></a>
                    </li>
                    <li>
                        <a href="./" data-goto=".block-reviews" data-goto-header><span>Отзывы</span></a>
                    </li>
                    <li>
                        <a href="./" data-goto=".block-about" data-goto-header><span>О нас</span></a>
                    </li>
                    <li>
                        <a href="./" data-goto=".block-benefits" data-goto-header><span>Преимущества</span></a>
                    </li>
                    <li>
                        <a href="./" data-goto=".block-forms" data-goto-header><span>Контакты</span></a>
                    </li>
                </ul>
                <a href="./" class="btn"><span>Корпорантам</span></a>
            </div>
        </div>
    </div>
</header>