<div id="login" aria-hidden="true" class="popup popup-login">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__circle"></div>
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="19" height="19">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup-login__body">
                <div class="popup-login__title">
                    Войти<br>
                    в личный кабинет
                </div>
                <form action="#" class="popup-login__form">
                    <div class="popup-login__inputs">
                        <div class="popup-login__input">
                            <input data-required="email" autocomplete="off" type="text" name="form[]"
                                placeholder="Email">
                        </div>
                        <div class="popup-login__input">
                            <input data-required autocomplete="off" type="password" name="form[]" placeholder="Пароль">
                        </div>
                        <a href="./" class="popup-login__forgot-password">
                            Забыли пароль?
                        </a>
                        <div class="popup-login__checkboxes">
                            <label class="checkbox">
                                <input data-required class="checkbox__input" type="checkbox" value="1" name="form[]">
                                <span class="checkbox__label">
                                    <span class="checkbox__icon">
                                        <svg aria-hidden="true" width="16" height="12">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </span>
                                    <span class="checkbox__text">
                                        Оставаться в системе
                                    </span>
                                </span>
                            </label>
                            <label class="checkbox">
                                <input data-required class="checkbox__input" type="checkbox" value="2" name="form[]">
                                <span class="checkbox__label">
                                    <span class="checkbox__icon">
                                        <svg aria-hidden="true" width="16" height="12">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </span>
                                    <span class="checkbox__text">
                                        Нажимая кнопку “Войти”, вы даете согласие на обработку ваших персональных данных
                                        в соответствии
                                        с <a href="./">Политикой конфиденциальности</a>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="popup-login__buttons">
                        <button type="submit" class="btn">
                            Выслать код
                        </button>
                        <div class="popup-login__link">
                            Нет аккаунта? <a href="./" data-popup="#regustration">Создать аккаунт</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="login2" aria-hidden="true" class="popup popup-login">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__circle"></div>
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="19" height="19">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup-login__body">
                <div class="popup-login__title">
                    Войти в личный кабинет или зарегистрироваться
                </div>
                <div class="popup-login__subtitle">
                    Мы позвоним или пришлем SMS код подтверждения
                    на ваше утсройство. <span>Введите последние четыре цифры номера телефона или код из SMS</span>
                </div>
                <form action="#" class="popup-login__form">
                    <div class="popup-login__inputs">
                        <div class="popup-login-country">
                            <div class="popup-login-country__title">
                                <img src="img/icons/flag2.svg" alt="">
                                <span>Россия</span>
                            </div>
                            <div class="popup-login-country__icon">
                                <svg aria-hidden="true" width="14" height="14">
                                    <use xlink:href="img/sprite.svg#star1"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="popup-login__input">
                            <div class="popup-login__tel">+ 7</div>
                            <input data-required autocomplete="off" type="text" name="form[]"
                                placeholder="( ___ ) -___ - __ - __" class="telephone2">
                        </div>
                        <label class="checkbox">
                            <input data-required class="checkbox__input" type="checkbox" value="1" name="form[]">
                            <span class="checkbox__label">
                                <span class="checkbox__icon">
                                    <svg aria-hidden="true" width="16" height="12">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                </span>
                                <span class="checkbox__text">
                                    Нажимая кнопку “Выслать код”, вы даете согласие
                                    на обработку ваших персональных данных в соответствии
                                    с <a href="./">Политикой конфиденциальности</a>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="popup-login__buttons">
                        <button type="submit" class="btn">
                            Выслать код
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="regustration" aria-hidden="true" class="popup popup-login">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__circle"></div>
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="19" height="19">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup-login__body">
                <div class="popup-login__title">
                    Регистрация
                </div>
                <form action="#" class="popup-login__form">
                    <div class="popup-login__inputs">
                        <div class="popup-login__input input2">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="Имя">
                            <input data-required autocomplete="off" type="text" name="form[]" placeholder="Фамилия">
                        </div>
                        <div class="popup-login__input">
                            <input data-required="email" autocomplete="off" type="text" name="form[]"
                                placeholder="Email">
                        </div>
                        <div class="popup-login__input">
                            <input data-required data-error="Неверный пароль" autocomplete="off" type="password"
                                name="form[]" placeholder="Пароль">
                        </div>
                        <div class="popup-login__input">
                            <input data-required autocomplete="off" type="password" name="form[]"
                                placeholder="Повторите пароль">
                        </div>
                        <div class="popup-login__checkboxes">
                            <label class="checkbox">
                                <input data-required class="checkbox__input" type="checkbox" value="1" name="form[]">
                                <span class="checkbox__label">
                                    <span class="checkbox__icon">
                                        <svg aria-hidden="true" width="16" height="12">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </span>
                                    <span class="checkbox__text">
                                        Оставаться в системе
                                    </span>
                                </span>
                            </label>
                            <label class="checkbox">
                                <input data-required class="checkbox__input" type="checkbox" value="2" name="form[]">
                                <span class="checkbox__label">
                                    <span class="checkbox__icon">
                                        <svg aria-hidden="true" width="16" height="12">
                                            <use xlink:href="img/sprite.svg#check1"></use>
                                        </svg>
                                    </span>
                                    <span class="checkbox__text">
                                        Нажимая кнопку “Войти”, вы даете согласие на обработку ваших персональных данных
                                        в соответствии
                                        с <a href="./">Политикой конфиденциальности</a>
                                    </span>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="popup-login__buttons">
                        <button type="submit" class="btn">
                            Зарегистрироваться
                        </button>
                        <div class="popup-login__link">
                            Уже есть аккаунт? <a href="./" data-popup="#login2">Войти</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Вторая версия входа
<div id="login-socials" aria-hidden="true" class="popup popup-login login-socials">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__circle"></div>
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="19" height="19">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup-login__body">
                <div class="popup-login__title">
                    Войти в личный кабинет
                </div>
                <div class="popup-login__form">
                    <div class="popup-login-socials">
                        <div class="popup-login-socials__title">
                            При помощи сервиса:
                        </div>
                        <div class="socials">
                            <div class="socials__icon">
                                <a href="./">
                                    <svg aria-hidden="true" width="44" height="28">
                                        <use xlink:href="img/sprite.svg#vk"></use>
                                    </svg>
                                </a>
                                <span>VK ID</span>
                            </div>
                            <div class="socials__icon">
                                <a href="./">
                                    <svg style="margin-right:4px;" aria-hidden="true" width="26" height="40">
                                        <use xlink:href="img/sprite.svg#yandex"></use>
                                    </svg>
                                </a>
                                <span>Yandex ID</span>
                            </div>
                        </div>
                    </div>
                    <div class="popup-login__buttons">
                        <button data-popup="#login-number" type="button" class="btn">
                            По номеру телефона
                        </button>
                        <div class="popup-login__text">
                            При входе и регистрации я даю согласие на обработку своих персональных данных в соответствии
                            с политикой обработки персональных данных
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="login-number" aria-hidden="true" class="popup popup-login login-socials">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__circle"></div>
            <a href="./" data-popup="#login-socials" class="popup__back">
                <svg aria-hidden="true" width="26" height="8">
                    <use xlink:href="img/sprite.svg#arrow2"></use>
                </svg>
                Назад
            </a>
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="19" height="19">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup-login__body">
                <div class="popup-login__title">
                    введите номер телефона
                </div>
                <div class="popup-login__subtitle">
                    Мы позвоним или пришлем SMS код подтверждения
                    на ваше утсройство. <span>Введите последние четыре цифры номера телефона или код из SMS</span>
                </div>
                <form action="#" class="popup-login__form">
                    <div class="popup-login__inputs">
                        <div class="popup-login-country">
                            <div class="popup-login-country__title">
                                <img src="img/icons/flag2.svg" alt="">
                                <span>Россия</span>
                            </div>
                            <div class="popup-login-country__icon">
                                <svg aria-hidden="true" width="14" height="14">
                                    <use xlink:href="img/sprite.svg#star1"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="popup-login__input">
                            <div class="popup-login__tel">+ 7</div>
                            <input data-required autocomplete="off" type="text" name="form[]"
                                placeholder="( ___ ) -___ - __ - __" class="telephone2">
                        </div>
                        <label class="checkbox">
                            <input data-required class="checkbox__input" type="checkbox" value="1" name="form[]">
                            <span class="checkbox__label">
                                <span class="checkbox__icon">
                                    <svg aria-hidden="true" width="16" height="12">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                </span>
                                <span class="checkbox__text">
                                    Нажимая кнопку “Выслать код”, вы даете согласие
                                    на обработку ваших персональных данных в соответствии
                                    с <a href="./">Политикой конфиденциальности</a>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="popup-login__buttons">
                        <button type="submit" class="btn">
                            Выслать код
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->