<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <div class="block-intro-slider">
                    <div class="container">
                        <div class="block-intro-slider__content">
                            <div class="block-intro-slider__slider swiper">
                                <div class="block-intro-slider__wrapper swiper-wrapper">
                                    <div class="block-intro-slider__slide swiper-slide">
                                        <img src="img/image1.webp" alt="" class="block-intro-slider__pic1">
                                        <div class="block-intro-slider__items">
                                            <div class="block-intro-slider__item">
                                                <h2 class="title1">Программа “Открытый юг”</h2>
                                                <p>
                                                    Мы предлагаем максимальные
                                                    выгодные цены для тех санаториев, которые предлагают высокое
                                                    качество гостям, предоставляют лучший сервис. Успейте
                                                    воспользоваться предложениями отелей, потому что они быстро
                                                    заканчиваются по данной программе
                                                </p>
                                                <a href="./" class="btn"><span>подробнее</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-intro-slider__slide swiper-slide">
                                        <img src="img/image14.webp" alt="" class="block-intro-slider__pic1">
                                        <div class="block-intro-slider__items">
                                            <div class="block-intro-slider__item">
                                                <h2 class="title1">Программа “Открытый юг”</h2>
                                                <p>
                                                    Мы предлагаем максимальные
                                                    выгодные цены для тех санаториев, которые предлагают высокое
                                                    качество гостям, предоставляют лучший сервис. Успейте
                                                    воспользоваться предложениями отелей, потому что они быстро
                                                    заканчиваются по данной программе
                                                </p>
                                                <a href="./" class="btn"><span>подробнее</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-intro-slider__arrow-prev arrow-prev">
                                <img src="img/icons/arrow1.svg" alt="">
                            </div>
                            <div class="block-intro-slider__arrow-next arrow-next">
                                <img src="img/icons/arrow1.svg" alt="">
                            </div>
                            <div class="block-intro-slider__pagination pagination"></div>
                        </div>
                    </div>
                </div>
                <div class="block-intro-bottom">
                    <div class="container">
                        <div class="block-intro-bottom__contents">
                            <div class="block-intro-bottom__content">
                                <div class="block-intro-bottom__body">
                                    <div class="block-intro-bottom__column">
                                        <img src="img/icon1.webp" alt="">
                                        <span>Своя база экскурсоводов</span>
                                    </div>
                                    <div class="block-intro-bottom__column">
                                        <img src="img/icon2.webp" alt="">
                                        <span>Демократичные цены</span>
                                    </div>
                                    <div class="block-intro-bottom__column">
                                        <img src="img/icon3.webp" alt="">
                                        <span>Индивидуальный подход</span>
                                    </div>
                                    <div class="block-intro-bottom__column">
                                        <img src="img/icon4.webp" alt="">
                                        <span>Официальный туроператор</span>
                                    </div>
                                </div>
                                <a href="./" data-popup="#call" class="btn"><span>Получить персональное
                                        предложение</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-catalog">
                <div class="container">
                    <div class="block-catalog__body">
                        <a href="./" class="block-catalog__column column1">
                            <img loading="lazy" src="img/image2.webp" alt="">
                            <div class="block-catalog__text">
                                <span>Туры по Самаре и Самарской области</span>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column column2">
                            <img loading="lazy" src="img/image3.webp" alt="">
                            <div class="block-catalog__text">
                                <span>Туры по России</span>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column column3">
                            <img loading="lazy" src="img/image4.webp" alt="">
                            <div class="block-catalog__text">
                                <span>Туристические поезда</span>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column column4">
                            <img loading="lazy" src="img/image5.webp" alt="">
                            <div class="block-catalog__text">
                                <span>Школьникам</span>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column column5">
                            <img loading="lazy" src="img/image6.webp" alt="">
                            <div class="block-catalog__text">
                                <span>Турбазы Самарской области</span>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column column6">
                            <img loading="lazy" src="img/image7.webp" alt="">
                            <div class="block-catalog__text">
                                <span>Курорты, санатории, отели</span>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column column7">
                            <img loading="lazy" src="img/image8.webp" alt="">
                            <div class="block-catalog__text">
                                <span>Экскурсии</span>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column column8">
                            <img loading="lazy" src="img/image9.webp" alt="">
                            <div class="block-catalog__text">
                                <span>Федеральные проекты</span>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column column9">
                            <img loading="lazy" src="img/image10.webp" alt="">
                            <div class="block-catalog__text">
                                <span>Корпоративным клиентам</span>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column column10">
                            <img loading="lazy" src="img/image11.webp" alt="">
                            <div class="block-catalog__text">
                                <span>Зарубежный туризм</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-popular">
                <div class="container">
                    <h2 class="title2">Популярные направления</h2>
                    <div data-tabs class="block-popular-tabs">
                        <nav data-tabs-titles class="block-popular-tabs__navigation">
                            <button type="button" class="block-popular-tabs__title _tab-active">Самара и Самарская
                                область</button>
                            <button type="button" class="block-popular-tabs__title">Школьникам</button>
                            <img src="img/bg1.webp" alt="">
                        </nav>
                        <div data-tabs-body class="block-popular-tabs__content">
                            <div class="block-popular-tabs__body">
                                <div class="block-popular-tabs__items">
                                    <div class="block-popular-tabs__cards">
                                        <div class="product-card">
                                            <div class="product-card__star">
                                                <img loading="lazy" src="img/icons/star1.svg" alt="">
                                            </div>
                                            <a href="./" class="product-card__image">
                                                <img loading="lazy" src="img/image4.webp" alt="">
                                            </a>
                                            <div class="product-card-top">
                                                <a href="./" class="product-card-top__title">
                                                    Тольятти - обзорная экскурсия
                                                </a>
                                                <div class="product-card-top__routes">
                                                    <dic class="product-card-top__route-title">Маршрут:</dic>
                                                    <div class="product-card-top__route">
                                                        <span>Самара</span>
                                                        <span>Тольятти</span>
                                                        <span>Самара</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    Рыбатекст используется дизайнерами, проектировщиками и
                                                    фронтендерами,
                                                    когда нужно быстро заполнить макеты или прототипы содержимым. Это
                                                    тестовый контент, который не должен нести никакого смысла, лишь
                                                    показать
                                                    наличие самого текста.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span>Допустимый возраст:</span>
                                                        7+
                                                    </li>
                                                    <li>
                                                        <span>Группы:</span>
                                                        до 30 человек
                                                    </li>
                                                </ul>
                                                <div class="product-card-top__tags">
                                                    <div class="product-card-top__tag">#Для школьников</div>
                                                    <div class="product-card-top__tag">#Праздники</div>
                                                </div>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-card-bottom__price">
                                                    7550 р
                                                    <span>/ 8 часов</span>
                                                </div>
                                                <div data-showmore="items" class="product-card-bottom__showmore">
                                                    <div class="product-card-bottom__showmore-title">
                                                        Дата набора групп:
                                                    </div>
                                                    <ul data-showmore-content="1"
                                                        class="product-card-bottom__showmore-content">
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                    </ul>
                                                    <button hidden data-showmore-button type="button"
                                                        class="product-card-bottom__more">
                                                        <span>+ 3 варианта</span>
                                                        <span>Скрыть</span>
                                                    </button>
                                                </div>
                                                <a href="./" class="btn"><span>Смотреть тур</span></a>
                                            </div>
                                        </div>
                                        <div class="product-card">
                                            <div class="product-card__star">
                                                <img loading="lazy" src="img/icons/star1.svg" alt="">
                                            </div>
                                            <a href="./" class="product-card__image">
                                                <img loading="lazy" src="img/image12.webp" alt="">
                                            </a>
                                            <div class="product-card-top">
                                                <a href="./" class="product-card-top__title">
                                                    Индивидуальные экскурсии на брендовом автомобиле LADA
                                                </a>
                                                <div class="product-card-top__routes">
                                                    <dic class="product-card-top__route-title">Маршрут:</dic>
                                                    <div class="product-card-top__route">
                                                        <span>Самара</span>
                                                        <span>Санкт-Петербург</span>
                                                        <span>Самара</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    Экскурсия, Фототур, Тур в заповедник/национальный парк,
                                                    Краеведческий
                                                    тур, Экскурсия загородная, Природоведческий тур, Экскурсия
                                                    городская,
                                                    тур выходного дня, тур на каникулах, тур на майские праздники ...
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span>Допустимый возраст:</span>
                                                        16+
                                                    </li>
                                                    <li>
                                                        <span>Группы:</span>
                                                        до 30 человек
                                                    </li>
                                                </ul>
                                                <div class="product-card-top__tags">
                                                    <div class="product-card-top__tag">#Для школьников</div>
                                                    <div class="product-card-top__tag">#Праздники</div>
                                                </div>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-card-bottom__price">
                                                    8400 р
                                                    <span>/ 8 часов</span>
                                                </div>
                                                <div data-showmore="items" class="product-card-bottom__showmore">
                                                    <div class="product-card-bottom__showmore-title">
                                                        Дата набора групп:
                                                    </div>
                                                    <ul data-showmore-content="1"
                                                        class="product-card-bottom__showmore-content">
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                    </ul>
                                                    <button hidden data-showmore-button type="button"
                                                        class="product-card-bottom__more">
                                                        <span>+ 3 варианта</span>
                                                        <span>Скрыть</span>
                                                    </button>
                                                </div>
                                                <a href="./" class="btn"><span>Смотреть тур</span></a>
                                            </div>
                                        </div>
                                        <div class="product-card">
                                            <div class="product-card__star">
                                                <img loading="lazy" src="img/icons/star1.svg" alt="">
                                            </div>
                                            <a href="./" class="product-card__image">
                                                <img loading="lazy" src="img/image13.webp" alt="">
                                            </a>
                                            <div class="product-card-top">
                                                <a href="./" class="product-card-top__title">
                                                    Ужин с волжской кухней и дегустацией ''Жигулевского''
                                                </a>
                                                <div class="product-card-top__routes">
                                                    <dic class="product-card-top__route-title">Маршрут:</dic>
                                                    <div class="product-card-top__route">
                                                        <span>Самара</span>
                                                        <span>Отель 7Авеню</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    Дегустационная программа c экскурсом в историю самарского
                                                    пивоварения и 
                                                    волжской кухни с ухой.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span>Допустимый возраст:</span>
                                                        18+
                                                    </li>
                                                    <li>
                                                        <span>Группы:</span>
                                                        до 30 человек
                                                    </li>
                                                </ul>
                                                <div class="product-card-top__tags">
                                                    <div class="product-card-top__tag">#Праздники</div>
                                                </div>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-card-bottom__price">
                                                    10250 р
                                                    <span>/ 8 часов</span>
                                                </div>
                                                <div data-showmore="items" class="product-card-bottom__showmore">
                                                    <div class="product-card-bottom__showmore-title">
                                                        Дата набора групп:
                                                    </div>
                                                    <ul data-showmore-content="1"
                                                        class="product-card-bottom__showmore-content">
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                    </ul>
                                                    <button hidden data-showmore-button type="button"
                                                        class="product-card-bottom__more">
                                                        <span>+ 3 варианта</span>
                                                        <span>Скрыть</span>
                                                    </button>
                                                </div>
                                                <a href="./" class="btn"><span>Смотреть тур</span></a>
                                            </div>
                                        </div>
                                        <div class="product-card">
                                            <div class="product-card__star">
                                                <img loading="lazy" src="img/icons/star1.svg" alt="">
                                            </div>
                                            <a href="./" class="product-card__image">
                                                <img loading="lazy" src="img/image13.webp" alt="">
                                            </a>
                                            <div class="product-card-top">
                                                <a href="./" class="product-card-top__title">
                                                    Ужин с волжской кухней и дегустацией ''Жигулевского''
                                                </a>
                                                <div class="product-card-top__routes">
                                                    <dic class="product-card-top__route-title">Маршрут:</dic>
                                                    <div class="product-card-top__route">
                                                        <span>Самара</span>
                                                        <span>Отель 7Авеню</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    Дегустационная программа c экскурсом в историю самарского
                                                    пивоварения и 
                                                    волжской кухни с ухой.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span>Допустимый возраст:</span>
                                                        18+
                                                    </li>
                                                    <li>
                                                        <span>Группы:</span>
                                                        до 30 человек
                                                    </li>
                                                </ul>
                                                <div class="product-card-top__tags">
                                                    <div class="product-card-top__tag">#Праздники</div>
                                                </div>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-card-bottom__price">
                                                    10250 р
                                                    <span>/ 8 часов</span>
                                                </div>
                                                <div data-showmore="items" class="product-card-bottom__showmore">
                                                    <div class="product-card-bottom__showmore-title">
                                                        Дата набора групп:
                                                    </div>
                                                    <ul data-showmore-content="1"
                                                        class="product-card-bottom__showmore-content">
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                    </ul>
                                                    <button hidden data-showmore-button type="button"
                                                        class="product-card-bottom__more">
                                                        <span>+ 3 варианта</span>
                                                        <span>Скрыть</span>
                                                    </button>
                                                </div>
                                                <a href="./" class="btn"><span>Смотреть тур</span></a>
                                            </div>
                                        </div>
                                        <div class="product-card">
                                            <div class="product-card__star">
                                                <img loading="lazy" src="img/icons/star1.svg" alt="">
                                            </div>
                                            <a href="./" class="product-card__image">
                                                <img loading="lazy" src="img/image4.webp" alt="">
                                            </a>
                                            <div class="product-card-top">
                                                <a href="./" class="product-card-top__title">
                                                    Тольятти - обзорная экскурсия
                                                </a>
                                                <div class="product-card-top__routes">
                                                    <dic class="product-card-top__route-title">Маршрут:</dic>
                                                    <div class="product-card-top__route">
                                                        <span>Самара</span>
                                                        <span>Тольятти</span>
                                                        <span>Самара</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    Рыбатекст используется дизайнерами, проектировщиками и
                                                    фронтендерами,
                                                    когда нужно быстро заполнить макеты или прототипы содержимым. Это
                                                    тестовый контент, который не должен нести никакого смысла, лишь
                                                    показать
                                                    наличие самого текста.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span>Допустимый возраст:</span>
                                                        7+
                                                    </li>
                                                    <li>
                                                        <span>Группы:</span>
                                                        до 30 человек
                                                    </li>
                                                </ul>
                                                <div class="product-card-top__tags">
                                                    <div class="product-card-top__tag">#Для школьников</div>
                                                    <div class="product-card-top__tag">#Праздники</div>
                                                </div>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-card-bottom__price">
                                                    7550 р
                                                    <span>/ 8 часов</span>
                                                </div>
                                                <div data-showmore="items" class="product-card-bottom__showmore">
                                                    <div class="product-card-bottom__showmore-title">
                                                        Дата набора групп:
                                                    </div>
                                                    <ul data-showmore-content="1"
                                                        class="product-card-bottom__showmore-content">
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                    </ul>
                                                    <button hidden data-showmore-button type="button"
                                                        class="product-card-bottom__more">
                                                        <span>+ 3 варианта</span>
                                                        <span>Скрыть</span>
                                                    </button>
                                                </div>
                                                <a href="./" class="btn"><span>Смотреть тур</span></a>
                                            </div>
                                        </div>
                                        <div class="product-card">
                                            <div class="product-card__star">
                                                <img loading="lazy" src="img/icons/star1.svg" alt="">
                                            </div>
                                            <a href="./" class="product-card__image">
                                                <img loading="lazy" src="img/image12.webp" alt="">
                                            </a>
                                            <div class="product-card-top">
                                                <a href="./" class="product-card-top__title">
                                                    Индивидуальные экскурсии на брендовом автомобиле LADA
                                                </a>
                                                <div class="product-card-top__routes">
                                                    <dic class="product-card-top__route-title">Маршрут:</dic>
                                                    <div class="product-card-top__route">
                                                        <span>Самара</span>
                                                        <span>Санкт-Петербург</span>
                                                        <span>Самара</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    Экскурсия, Фототур, Тур в заповедник/национальный парк,
                                                    Краеведческий
                                                    тур, Экскурсия загородная, Природоведческий тур, Экскурсия
                                                    городская,
                                                    тур выходного дня, тур на каникулах, тур на майские праздники ...
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span>Допустимый возраст:</span>
                                                        16+
                                                    </li>
                                                    <li>
                                                        <span>Группы:</span>
                                                        до 30 человек
                                                    </li>
                                                </ul>
                                                <div class="product-card-top__tags">
                                                    <div class="product-card-top__tag">#Для школьников</div>
                                                    <div class="product-card-top__tag">#Праздники</div>
                                                </div>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-card-bottom__price">
                                                    8400 р
                                                    <span>/ 8 часов</span>
                                                </div>
                                                <div data-showmore="items" class="product-card-bottom__showmore">
                                                    <div class="product-card-bottom__showmore-title">
                                                        Дата набора групп:
                                                    </div>
                                                    <ul data-showmore-content="1"
                                                        class="product-card-bottom__showmore-content">
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                    </ul>
                                                    <button hidden data-showmore-button type="button"
                                                        class="product-card-bottom__more">
                                                        <span>+ 3 варианта</span>
                                                        <span>Скрыть</span>
                                                    </button>
                                                </div>
                                                <a href="./" class="btn"><span>Смотреть тур</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-transparent">
                                        <img loading="lazy" src="img/icons/update.svg" alt="">
                                        <span>Загрузить еще</span>
                                    </button>
                                </div>
                            </div>
                            <div class="block-popular-tabs__body">
                                <div class="block-popular-tabs__items">
                                    <div class="block-popular-tabs__cards">
                                        <div class="product-card">
                                            <div class="product-card__star">
                                                <img loading="lazy" src="img/icons/star1.svg" alt="">
                                            </div>
                                            <a href="./" class="product-card__image">
                                                <img loading="lazy" src="img/image4.webp" alt="">
                                            </a>
                                            <div class="product-card-top">
                                                <a href="./" class="product-card-top__title">
                                                    Тольятти - обзорная экскурсия
                                                </a>
                                                <div class="product-card-top__routes">
                                                    <dic class="product-card-top__route-title">Маршрут:</dic>
                                                    <div class="product-card-top__route">
                                                        <span>Самара</span>
                                                        <span>Тольятти</span>
                                                        <span>Самара</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    Рыбатекст используется дизайнерами, проектировщиками и
                                                    фронтендерами,
                                                    когда нужно быстро заполнить макеты или прототипы содержимым. Это
                                                    тестовый контент, который не должен нести никакого смысла, лишь
                                                    показать
                                                    наличие самого текста.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span>Допустимый возраст:</span>
                                                        7+
                                                    </li>
                                                    <li>
                                                        <span>Группы:</span>
                                                        до 30 человек
                                                    </li>
                                                </ul>
                                                <div class="product-card-top__tags">
                                                    <div class="product-card-top__tag">#Для школьников</div>
                                                    <div class="product-card-top__tag">#Праздники</div>
                                                </div>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-card-bottom__price">
                                                    7550 р
                                                    <span>/ 8 часов</span>
                                                </div>
                                                <div data-showmore="items" class="product-card-bottom__showmore">
                                                    <div class="product-card-bottom__showmore-title">
                                                        Дата набора групп:
                                                    </div>
                                                    <ul data-showmore-content="1"
                                                        class="product-card-bottom__showmore-content">
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                    </ul>
                                                    <button hidden data-showmore-button type="button"
                                                        class="product-card-bottom__more">
                                                        <span>+ 3 варианта</span>
                                                        <span>Скрыть</span>
                                                    </button>
                                                </div>
                                                <a href="./" class="btn"><span>Смотреть тур</span></a>
                                            </div>
                                        </div>
                                        <div class="product-card">
                                            <div class="product-card__star">
                                                <img loading="lazy" src="img/icons/star1.svg" alt="">
                                            </div>
                                            <a href="./" class="product-card__image">
                                                <img loading="lazy" src="img/image12.webp" alt="">
                                            </a>
                                            <div class="product-card-top">
                                                <a href="./" class="product-card-top__title">
                                                    Индивидуальные экскурсии на брендовом автомобиле LADA
                                                </a>
                                                <div class="product-card-top__routes">
                                                    <dic class="product-card-top__route-title">Маршрут:</dic>
                                                    <div class="product-card-top__route">
                                                        <span>Самара</span>
                                                        <span>Санкт-Петербург</span>
                                                        <span>Самара</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    Экскурсия, Фототур, Тур в заповедник/национальный парк,
                                                    Краеведческий
                                                    тур, Экскурсия загородная, Природоведческий тур, Экскурсия
                                                    городская,
                                                    тур выходного дня, тур на каникулах, тур на майские праздники ...
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span>Допустимый возраст:</span>
                                                        16+
                                                    </li>
                                                    <li>
                                                        <span>Группы:</span>
                                                        до 30 человек
                                                    </li>
                                                </ul>
                                                <div class="product-card-top__tags">
                                                    <div class="product-card-top__tag">#Для школьников</div>
                                                    <div class="product-card-top__tag">#Праздники</div>
                                                </div>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-card-bottom__price">
                                                    8400 р
                                                    <span>/ 8 часов</span>
                                                </div>
                                                <div data-showmore="items" class="product-card-bottom__showmore">
                                                    <div class="product-card-bottom__showmore-title">
                                                        Дата набора групп:
                                                    </div>
                                                    <ul data-showmore-content="1"
                                                        class="product-card-bottom__showmore-content">
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                    </ul>
                                                    <button hidden data-showmore-button type="button"
                                                        class="product-card-bottom__more">
                                                        <span>+ 3 варианта</span>
                                                        <span>Скрыть</span>
                                                    </button>
                                                </div>
                                                <a href="./" class="btn"><span>Смотреть тур</span></a>
                                            </div>
                                        </div>
                                        <div class="product-card">
                                            <div class="product-card__star">
                                                <img loading="lazy" src="img/icons/star1.svg" alt="">
                                            </div>
                                            <a href="./" class="product-card__image">
                                                <img loading="lazy" src="img/image13.webp" alt="">
                                            </a>
                                            <div class="product-card-top">
                                                <a href="./" class="product-card-top__title">
                                                    Ужин с волжской кухней и дегустацией ''Жигулевского''
                                                </a>
                                                <div class="product-card-top__routes">
                                                    <dic class="product-card-top__route-title">Маршрут:</dic>
                                                    <div class="product-card-top__route">
                                                        <span>Самара</span>
                                                        <span>Отель 7Авеню</span>
                                                    </div>
                                                </div>
                                                <p>
                                                    Дегустационная программа c экскурсом в историю самарского
                                                    пивоварения и 
                                                    волжской кухни с ухой.
                                                </p>
                                                <ul>
                                                    <li>
                                                        <span>Допустимый возраст:</span>
                                                        18+
                                                    </li>
                                                    <li>
                                                        <span>Группы:</span>
                                                        до 30 человек
                                                    </li>
                                                </ul>
                                                <div class="product-card-top__tags">
                                                    <div class="product-card-top__tag">#Праздники</div>
                                                </div>
                                            </div>
                                            <div class="product-card-bottom">
                                                <div class="product-card-bottom__price">
                                                    10250 р
                                                    <span>/ 8 часов</span>
                                                </div>
                                                <div data-showmore="items" class="product-card-bottom__showmore">
                                                    <div class="product-card-bottom__showmore-title">
                                                        Дата набора групп:
                                                    </div>
                                                    <ul data-showmore-content="1"
                                                        class="product-card-bottom__showmore-content">
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                        <li>
                                                            20 сентября — 4 октября
                                                        </li>
                                                    </ul>
                                                    <button hidden data-showmore-button type="button"
                                                        class="product-card-bottom__more">
                                                        <span>+ 3 варианта</span>
                                                        <span>Скрыть</span>
                                                    </button>
                                                </div>
                                                <a href="./" class="btn"><span>Смотреть тур</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-transparent">
                                        <img loading="lazy" src="img/icons/update.svg" alt="">
                                        <span>Загрузить еще</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms">
                <div class="container">
                    <div class="block-forms__content">
                        <img loading="lazy" src="img/image15.webp" alt="" class="block-forms__pic1">
                        <div class="block-forms-top">
                            <div class="block-forms-top__heading-complex">
                                <h2 class="title2">Остались вопросы?</h2>
                                <p>
                                    Укажите контактные данные и наш менеджер свяжется с Вами
                                </p>
                            </div>
                            <form action="#" class="form">
                                <div class="form__body">
                                    <div class="form__inputs">
                                        <div class="form__input">
                                            <input data-required autocomplete="off" type="text" name="form[]"
                                                placeholder="Имя">
                                        </div>
                                        <div class="form__input">
                                            <input data-required="email" autocomplete="off" type="text" name="form[]"
                                                placeholder="E-mail">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn">
                                        <span>Отправить</span>
                                    </button>
                                </div>
                                <div class="form__text">
                                    Нажимая «Отправить» Вы принимаете <a href="./">Пользовательское соглашение</a> и
                                    даете
                                    согласие на обработку ваших данных
                                </div>
                            </form>
                        </div>
                        <div class="block-forms-bottom">
                            <div class="block-forms-bottom__title">
                                Будем на связи!
                            </div>
                            <form action="#" class="form">
                                <div class="form__title">Подписка на наши e-mail рассылки:</div>
                                <div class="form__body">
                                    <div class="form__inputs">
                                        <div class="form__input">
                                            <input data-required autocomplete="off" type="text" name="form[]"
                                                placeholder="Имя">
                                        </div>
                                        <div class="form__input">
                                            <input data-required="email" autocomplete="off" type="text" name="form[]"
                                                placeholder="E-mail">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-transparent">
                                        <span>Подписаться на рассылку</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>