<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка товара</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-main">
                <div class="container">
                    <div class="breadcrumbs">
                        <ul>
                            <li>
                                <a href="#" class="home">
                                    <svg aria-hidden="true" width="12" height="11">
                                        <use xlink:href="img/sprite.svg#home"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Туры по России
                                </a>
                            </li>
                            <li><span>Тольятти - обзорная экскурсия</span></li>
                        </ul>
                    </div>
                    <div class="block-main__top">
                        <h1 class="title1">Тольятти - обзорная экскурсия</h1>
                    </div>
                </div>
            </div>

            <div class="block-product-card">
                <div class="container">
                    <div class="block-product-card__content">
                        <div class="block-product-card__left">
                            <div class="images-product">
                                <div class="images-product__swiper">
                                    <div class="images-product__slider swiper">
                                        <div class="images-product__wrapper swiper-wrapper">
                                            <a href="img/image23.webp" data-fancybox="slider-gallery1"
                                                class="images-product__slide swiper-slide">
                                                <img src="img/image23.webp" alt="">
                                            </a>
                                            <a href="img/image23.webp" data-fancybox="slider-gallery1"
                                                class="images-product__slide swiper-slide">
                                                <img src="img/image23.webp" alt="">
                                            </a>
                                            <a href="img/image23.webp" data-fancybox="slider-gallery1"
                                                class="images-product__slide swiper-slide">
                                                <img src="img/image23.webp" alt="">
                                            </a>
                                            <a href="img/image23.webp" data-fancybox="slider-gallery1"
                                                class="images-product__slide swiper-slide">
                                                <img src="img/image23.webp" alt="">
                                            </a>
                                            <a href="img/image23.webp" data-fancybox="slider-gallery1"
                                                class="images-product__slide swiper-slide">
                                                <img src="img/image23.webp" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="images-product__arrow-prev arrow-prev">
                                        <img src="img/icons/arrow1.svg" alt="">
                                    </div>
                                    <div class="images-product__arrow-next arrow-next">
                                        <img src="img/icons/arrow1.svg" alt="">
                                    </div>
                                </div>
                                <div class="images-product__thumbs">
                                    <div class="images-product__thumb swiper">
                                        <div class="images-product__wrapper swiper-wrapper">
                                            <div class="images-product__slide swiper-slide">
                                                <img src="img/image23.webp" alt="">
                                            </div>
                                            <div class="images-product__slide swiper-slide">
                                                <img src="img/image23.webp" alt="">
                                            </div>
                                            <div class="images-product__slide swiper-slide">
                                                <img src="img/image23.webp" alt="">
                                            </div>
                                            <div class="images-product__slide swiper-slide">
                                                <img src="img/image23.webp" alt="">
                                            </div>
                                            <div class="images-product__slide swiper-slide">
                                                <img src="img/image23.webp" alt="">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div data-tabs class="tabs-product-card">
                                <nav data-tabs-titles class="tabs-product-card__navigation">
                                    <button type="button" class="tabs-product-card__title _tab-active">Описание
                                        тура</button>
                                    <button type="button" class="tabs-product-card__title">Программа тура</button>
                                    <button type="button" class="tabs-product-card__title">Отзывы</button>
                                </nav>
                                <div data-tabs-body class="tabs-product-card__content">
                                    <div class="tabs-product-card__body descr-tour">
                                        <div class="tabs-product-card__text">
                                            <p>
                                                Lorem ipsum dolor sit amet.
                                            </p>
                                            <p>
                                                Lorem ipsum dolor sit amet.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tabs-product-card__body">
                                        <div data-spollers data-one-spoller class="spollers-product-card">
                                            <div class="spollers-product-card__item">
                                                <button type="button" data-spoller
                                                    class="spollers-product-card__button">
                                                    <span class="spollers-product-card__title">
                                                        1 День
                                                    </span>
                                                    <span class="spollers-product-card__icon"></span>
                                                </button>
                                                <div class="spollers-product-card__body">
                                                    <div class="spollers-product-card__text">
                                                        <p>
                                                            <span>22:50</span> Самостоятельная посадка и отправление
                                                            группы поездом №
                                                            24 «Москва-Казань» (проездные билеты включены).
                                                        </p>
                                                        <p>
                                                            Ночь в поезде.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="spollers-product-card__item">
                                                <button type="button" data-spoller
                                                    class="spollers-product-card__button">
                                                    <span class="spollers-product-card__title">
                                                        2 День
                                                    </span>
                                                    <span class="spollers-product-card__icon"></span>
                                                </button>
                                                <div class="spollers-product-card__body">
                                                    <div class="spollers-product-card__text">
                                                        <p>
                                                            <span>22:50</span> Самостоятельная посадка и отправление
                                                            группы поездом №
                                                            24 «Москва-Казань» (проездные билеты включены).
                                                        </p>
                                                        <p>
                                                            Ночь в поезде.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="spollers-product-card__item">
                                                <button type="button" data-spoller
                                                    class="spollers-product-card__button">
                                                    <span class="spollers-product-card__title">
                                                        3 День
                                                    </span>
                                                    <span class="spollers-product-card__icon"></span>
                                                </button>
                                                <div class="spollers-product-card__body">
                                                    <div class="spollers-product-card__text">
                                                        <p>
                                                            <span>22:50</span> Самостоятельная посадка и отправление
                                                            группы поездом №
                                                            24 «Москва-Казань» (проездные билеты включены).
                                                        </p>
                                                        <p>
                                                            Ночь в поезде.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="spollers-product-card__item">
                                                <button type="button" data-spoller
                                                    class="spollers-product-card__button">
                                                    <span class="spollers-product-card__title">
                                                        4 День
                                                    </span>
                                                    <span class="spollers-product-card__icon"></span>
                                                </button>
                                                <div class="spollers-product-card__body">
                                                    <div class="spollers-product-card__text">
                                                        <p>
                                                            <span>22:50</span> Самостоятельная посадка и отправление
                                                            группы поездом №
                                                            24 «Москва-Казань» (проездные билеты включены).
                                                        </p>
                                                        <p>
                                                            Ночь в поезде.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="spollers-product-card__item">
                                                <button type="button" data-spoller
                                                    class="spollers-product-card__button">
                                                    <span class="spollers-product-card__title">
                                                        5 День
                                                    </span>
                                                    <span class="spollers-product-card__icon"></span>
                                                </button>
                                                <div class="spollers-product-card__body">
                                                    <div class="spollers-product-card__text">
                                                        <p>
                                                            <span>22:50</span> Самостоятельная посадка и отправление
                                                            группы поездом №
                                                            24 «Москва-Казань» (проездные билеты включены).
                                                        </p>
                                                        <p>
                                                            Ночь в поезде.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs-product-card__body">
                                        <div class="tabs-product-card__cards">
                                            <div class="card-review">
                                                <div class="card-review__top">
                                                    <img loading="lazy" src="img/image12.webp" alt="">
                                                    <div class="card-review__titles">
                                                        <div class="card-review__name">
                                                            Феодор Вячеславович
                                                        </div>
                                                        <div class="card-review__data">31 марта 2026</div>
                                                    </div>
                                                </div>
                                                <div class="product-card-top__route">
                                                    <span>Тур для школьников по Золотому кольцу</span>
                                                </div>
                                                <div data-showmore="items" class="showmore">
                                                    <div data-showmore-content="2" class="showmore__content">
                                                        <p>
                                                            Юлия Владимировна, добрый день! Ещё раз спасибо Вам огромное
                                                            за организацию.
                                                            Прекрасные экскурсии, интерактивные, чудесный, абсолютно
                                                            сказочный Кремль,
                                                            замечательный гид, Ольга Николаевна. И с погодой нам очень
                                                            повезло.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-review">
                                                <div class="card-review__top">
                                                    <img loading="lazy" src="img/image13.webp" alt="">
                                                    <div class="card-review__titles">
                                                        <div class="card-review__name">
                                                            Евгения
                                                        </div>
                                                        <div class="card-review__data">20 марта 2026</div>
                                                    </div>
                                                </div>
                                                <div class="product-card-top__route">
                                                    <span>Тур для школьников в Санкт-Петербург</span>
                                                </div>
                                                <div data-showmore="items" class="showmore">
                                                    <div data-showmore-content="2" class="showmore__content">
                                                        <p>
                                                            Посетили с 8-м классом программу Петровский Петербург.
                                                            Огромная
                                                            благодарность нашему туроператору за грамотно составленный
                                                            маршрут, за
                                                            удачное время экскурсий, за выделенное дополнительное время.
                                                            Наши дети были
                                                            заинтересованы, и у них была возможность задавать вопросы, а
                                                            не бежать
                                                            дальше.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-review">
                                                <div class="card-review__top">
                                                    <img loading="lazy" src="img/image12.webp" alt="">
                                                    <div class="card-review__titles">
                                                        <div class="card-review__name">
                                                            Феодор Вячеславович
                                                        </div>
                                                        <div class="card-review__data">31 марта 2026</div>
                                                    </div>
                                                </div>
                                                <div class="product-card-top__route">
                                                    <span>Тур для школьников по Золотому кольцу</span>
                                                </div>
                                                <div data-showmore="items" class="showmore">
                                                    <div data-showmore-content="2" class="showmore__content">
                                                        <p>
                                                            Юлия Владимировна, добрый день! Ещё раз спасибо Вам огромное
                                                            за организацию.
                                                            Прекрасные экскурсии, интерактивные, чудесный, абсолютно
                                                            сказочный Кремль,
                                                            замечательный гид, Ольга Николаевна. И с погодой нам очень
                                                            повезло.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-review">
                                                <div class="card-review__top">
                                                    <img loading="lazy" src="img/image13.webp" alt="">
                                                    <div class="card-review__titles">
                                                        <div class="card-review__name">
                                                            Евгения
                                                        </div>
                                                        <div class="card-review__data">20 марта 2026</div>
                                                    </div>
                                                </div>
                                                <div class="product-card-top__route">
                                                    <span>Тур для школьников в Санкт-Петербург</span>
                                                </div>
                                                <div data-showmore="items" class="showmore">
                                                    <div data-showmore-content="2" class="showmore__content">
                                                        <p>
                                                            Посетили с 8-м классом программу Петровский Петербург.
                                                            Огромная
                                                            благодарность нашему туроператору за грамотно составленный
                                                            маршрут, за
                                                            удачное время экскурсий, за выделенное дополнительное время.
                                                            Наши дети были
                                                            заинтересованы, и у них была возможность задавать вопросы, а
                                                            не бежать
                                                            дальше.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-review">
                                                <div class="card-review__top">
                                                    <img loading="lazy" src="img/image12.webp" alt="">
                                                    <div class="card-review__titles">
                                                        <div class="card-review__name">
                                                            Феодор Вячеславович
                                                        </div>
                                                        <div class="card-review__data">31 марта 2026</div>
                                                    </div>
                                                </div>
                                                <div class="product-card-top__route">
                                                    <span>Тур для школьников по Золотому кольцу</span>
                                                </div>
                                                <div data-showmore="items" class="showmore">
                                                    <div data-showmore-content="2" class="showmore__content">
                                                        <p>
                                                            Юлия Владимировна, добрый день! Ещё раз спасибо Вам огромное
                                                            за организацию.
                                                            Прекрасные экскурсии, интерактивные, чудесный, абсолютно
                                                            сказочный Кремль,
                                                            замечательный гид, Ольга Николаевна. И с погодой нам очень
                                                            повезло.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-review">
                                                <div class="card-review__top">
                                                    <img loading="lazy" src="img/image13.webp" alt="">
                                                    <div class="card-review__titles">
                                                        <div class="card-review__name">
                                                            Евгения
                                                        </div>
                                                        <div class="card-review__data">20 марта 2026</div>
                                                    </div>
                                                </div>
                                                <div class="product-card-top__route">
                                                    <span>Тур для школьников в Санкт-Петербург</span>
                                                </div>
                                                <div data-showmore="items" class="showmore">
                                                    <div data-showmore-content="2" class="showmore__content">
                                                        <p>
                                                            Посетили с 8-м классом программу Петровский Петербург.
                                                            Огромная
                                                            благодарность нашему туроператору за грамотно составленный
                                                            маршрут, за
                                                            удачное время экскурсий, за выделенное дополнительное время.
                                                            Наши дети были
                                                            заинтересованы, и у них была возможность задавать вопросы, а
                                                            не бежать
                                                            дальше.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-da=".block-product-card__left, 992, 1" class="product-card-info">
                            <div class="product-card-info__top">
                                <div class="product-card-info__column">
                                    <div class="product-card-top__routes">
                                        <div class="product-card-top__route-title">Маршрут:</div>
                                        <div class="product-card-top__route">
                                            <span>Самара</span>
                                            <span>о. Сахалин</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card-info__column">
                                    <p>
                                        Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда
                                        нужно
                                        быстро заполнить макеты или прототипы содержимым. Это тестовый контент,
                                        который
                                        не
                                        должен нести никакого смысла, лишь показать наличие самого текста
                                    </p>
                                    <a href="./" data-goto=".descr-tour" class="showmore__more">
                                        Описание тура
                                    </a>
                                </div>
                                <div class="product-card-info__column">
                                    <div class="product-card-top">
                                        <ul>
                                            <li>
                                                <span>Допустимый возраст:</span>
                                                7+
                                            </li>
                                            <li>
                                                <span>Группы:</span>
                                                от 30 человек
                                            </li>
                                        </ul>
                                        <div class="product-card-top__tags">
                                            <div class="product-card-top__tag">#Туры по Самаре</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-bottom">
                                <div class="product-card-total">
                                    <div class="product-card-price__title">Стоимость:</div>
                                    <div class="product-card-price__prices">
                                        <div class="product-card-price__select">
                                            <select name="form[]" class="select">
                                                <option value="1" selected>10+1</option>
                                                <option value="2">10+2</option>
                                                <option value="3">10+1</option>
                                                <option value="4">10+2</option>
                                            </select>
                                            <div class="product-card-question">
                                                <button type="button" class="product-card-question__button">
                                                    <img src="img/icons/question.svg" alt="">
                                                </button>
                                                <div class="product-card-question__dropdown">
                                                    <p>
                                                        Lorem ipsum dolor sit amet.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card-bottom__price">
                                            7550 р
                                            <span>/ 8 часов</span>
                                        </div>
                                    </div>
                                </div>
                                <div data-showmore="items" class="product-card-bottom__showmore">
                                    <div class="product-card-bottom__showmore-title">
                                        Дата набора групп:
                                    </div>
                                    <ul data-showmore-content="1" class="product-card-bottom__showmore-content">
                                        <li>
                                            20 сентября — 4 октября
                                        </li>
                                        <li>
                                            20 сентября — 4 октября
                                        </li>
                                        <li>
                                            20 сентября — 4 октября
                                        </li>
                                    </ul>
                                    <button hidden data-showmore-button type="button" class="product-card-bottom__more">
                                        <span>+ 3 варианта</span>
                                        <span>Скрыть</span>
                                    </button>
                                </div>
                                <a href="./" class="btn"><span>Заказать экскурсию</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-similar block1">
                <div class="container">
                    <h2 class="title2" data-watch data-watch-once>
                        Похожие туры
                    </h2>
                    <div class="block-similar__body">
                        <div class="block-similar__slider swiper">
                            <div class="block-similar__wrapper swiper-wrapper">
                                <div class="block-similar__slide swiper-slide">
                                    <div class="product-card" data-watch data-watch-once>
                                        <div class="product-card__star">
                                            <img loading="lazy" src="img/icons/star1.svg" alt="">
                                        </div>
                                        <a target="_blank" href="https://vk.ru/wall-37522729_4218"
                                            class="product-card__image">
                                            <img loading="lazy" src="img/image16.webp" alt="">
                                        </a>
                                        <div class="product-card-top">
                                            <a target="_blank" href="https://vk.ru/wall-37522729_4218"
                                                class="product-card-top__title">
                                                Майские каникулы на Сахалине
                                            </a>
                                            <div class="product-card-top__routes">
                                                <div class="product-card-top__route-title">Маршрут:</div>
                                                <div class="product-card-top__route">
                                                    <span>Самара</span>
                                                    <span>о. Сахалин</span>
                                                </div>
                                            </div>
                                            <p>
                                                Многие из вас побывали в городах , областях нашей необъятной страны.
                                                Путешествуя, узнавали о культуре, самобытности , традиционной кухне
                                                , национальном колорите нашего многонационального народа.
                                                Для самых искушенных путешественников предлагаем посетить о.
                                                Сахалин!
                                            </p>
                                            <div class="product-card-top__tags">
                                                <div class="product-card-top__tag">#Туры по России</div>
                                            </div>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-card-bottom__price">
                                                52 580 р <span>5 дней/4 ночи</span>
                                            </div>
                                            <div data-showmore="items" class="product-card-bottom__showmore">
                                                <div class="product-card-bottom__showmore-title">
                                                    Даты тура:
                                                </div>
                                                <ul data-showmore-content="1"
                                                    class="product-card-bottom__showmore-content">
                                                    <li>
                                                        30.04-04.05.26
                                                    </li>
                                                </ul>
                                            </div>
                                            <a target="_blank" href="https://vk.ru/wall-37522729_4218"
                                                class="btn"><span>Смотреть
                                                    тур</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-similar__slide swiper-slide">
                                    <div class="product-card" data-watch data-watch-once>
                                        <div class="product-card__star">
                                            <img loading="lazy" src="img/icons/star1.svg" alt="">
                                        </div>
                                        <a href="#" class="product-card__image">
                                            <img loading="lazy" src="img/image4.webp" alt="">
                                        </a>
                                        <div class="product-card-top">
                                            <a href="#" class="product-card-top__title">
                                                Волжская кругосветка
                                            </a>
                                            <div class="product-card-top__routes">
                                                <div class="product-card-top__route-title">Маршрут:</div>
                                                <div class="product-card-top__route">
                                                    <span>Самара</span>
                                                    <span>Тольятти</span>
                                                    <span>Сызрань</span>
                                                </div>
                                            </div>
                                            <p>
                                                За три дня Вы сможете посетить три совершенно разных города
                                                Самарского региона, расположенных на Волге и ее притоках,
                                                Жигулевском море, насладиться необыкновенной живописной волжской
                                                природой и совершить незабываемое путешествие! Добро пожаловать в
                                                Самарскую область!
                                            </p>
                                            <ul>
                                                <li>
                                                    <span>Группы:</span>
                                                    от 30 человек
                                                </li>
                                            </ul>
                                            <div class="product-card-top__tags">
                                                <div class="product-card-top__tag">#Туры по Самаре</div>
                                            </div>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-card-bottom__price">
                                                <span>от</span> 27650 р
                                                <span>3 дня / 2 ночи </span>
                                            </div>
                                            <a href="./" download="files/programs/programs3.doc"
                                                class="btn"><span>Смотреть
                                                    тур</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-similar__slide swiper-slide">
                                    <div class="product-card" data-watch data-watch-once>
                                        <div class="product-card__star">
                                            <img loading="lazy" src="img/icons/star1.svg" alt="">
                                        </div>
                                        <a href="#" class="product-card__image">
                                            <img loading="lazy" src="img/image13.webp" alt="">
                                        </a>
                                        <div class="product-card-top">
                                            <a href="#" class="product-card-top__title">
                                                Жигулевское путешествие.
                                            </a>
                                            <div class="product-card-top__routes">
                                                <div class="product-card-top__route-title">Маршрут:</div>
                                                <div class="product-card-top__route">
                                                    <span>Самара</span>
                                                    <span>Тольятти</span>
                                                </div>
                                            </div>
                                            <p>
                                                За три дня Вы сможете посетить два самых крупных города Самарского
                                                региона – город Самару и город Тольятти, расположенных на Волге и
                                                Жигулевском море, насладиться необыкновенной живописной волжской
                                                природой и совершить незабываемое путешествие! Добро пожаловать в
                                                Самарскую область!
                                            </p>
                                            <ul>
                                                <li>
                                                    <span>Группы:</span>
                                                    30+ человек
                                                </li>
                                            </ul>
                                            <div class="product-card-top__tags">
                                                <div class="product-card-top__tag">#Туры по Самаре</div>
                                            </div>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-card-bottom__price">
                                                <span>от</span> 28950 р
                                                <span>3 дня / 2 ночи</span>
                                            </div>
                                            <a href="./" download="files/programs/programs4.doc"
                                                class="btn"><span>Смотреть тур</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-similar__slide swiper-slide">
                                    <div class="product-card" data-watch data-watch-once>
                                        <div class="product-card__star">
                                            <img loading="lazy" src="img/icons/star1.svg" alt="">
                                        </div>
                                        <a href="#" class="product-card__image">
                                            <img loading="lazy" src="img/image13.webp" alt="">
                                        </a>
                                        <div class="product-card-top">
                                            <a href="#" class="product-card-top__title">
                                                Жигулевское путешествие.
                                            </a>
                                            <div class="product-card-top__routes">
                                                <div class="product-card-top__route-title">Маршрут:</div>
                                                <div class="product-card-top__route">
                                                    <span>Самара</span>
                                                    <span>Тольятти</span>
                                                </div>
                                            </div>
                                            <p>
                                                За три дня Вы сможете посетить два самых крупных города Самарского
                                                региона – город Самару и город Тольятти, расположенных на Волге и
                                                Жигулевском море, насладиться необыкновенной живописной волжской
                                                природой и совершить незабываемое путешествие! Добро пожаловать в
                                                Самарскую область!
                                            </p>
                                            <ul>
                                                <li>
                                                    <span>Группы:</span>
                                                    30+ человек
                                                </li>
                                            </ul>
                                            <div class="product-card-top__tags">
                                                <div class="product-card-top__tag">#Туры по Самаре</div>
                                            </div>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-card-bottom__price">
                                                <span>от</span> 28950 р
                                                <span>3 дня / 2 ночи</span>
                                            </div>
                                            <a href="./" download="files/programs/programs4.doc"
                                                class="btn"><span>Смотреть тур</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-similar__arrow-prev arrow-prev">
                            <img src="img/icons/arrow1.svg" alt="">
                        </div>
                        <div class="block-similar__arrow-next arrow-next">
                            <img src="img/icons/arrow1.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/forms.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>