body {
  color: var(--theme-color-accent);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  &::before {
    content: "";
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 97;
    background: rgba(0, 0, 40, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  line-height: 133%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  min-height: 60px;
  padding: 10px 35px;
  width: fit-content;
  border-radius: 5px;

  box-shadow: 0 15px 30px 0 rgba(82, 164, 153, 0.2);
  background:
    linear-gradient(
      152deg,
      rgba(255, 255, 255, 0.42) 0%,
      rgba(255, 255, 255, 0.05) 25.5%,
      rgba(255, 255, 255, 0.19) 42.5%,
      rgba(255, 255, 255, 0.35) 70.5%,
      rgba(255, 255, 255, 0) 100%,
      rgba(255, 255, 255, 0.36) 100%
    ),
    #52a499;
  @media (max-width: 550px) {
    font-size: 14px;
    padding: 10px 15px;
    min-height: 50px;
  }
  &::after {
    content: "";
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
  }
  &::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--theme-color-accent2);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }
  span {
    position: relative;
    z-index: 10;
  }
  &.btn-transparent {
    gap: 10px;
    background: transparent;
    color: var(--theme-color-accent2);
    border: 1px solid rgba(82, 164, 153, 0.3);
    box-shadow: 0 15px 30px 0 rgba(82, 164, 153, 0.2);
    transition: background-color 0.3s;
    img {
      width: 15px;
      height: auto;
      transition: transform 0s;
      position: relative;
      z-index: 4;
    }
    &::before {
      content: "";
      background-color: rgba(82, 164, 153, 0.3);
    }
    &:hover {
      img {
        transform: rotate(360deg);
        transition: transform 0.6s ease;
      }
    }
  }
  &:hover {
    &::before {
      content: "";
      opacity: 1;
    }
  }
}

.title1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 117%;
  color: #fff;
  @media (max-width: 768px) {
    font-size: 28px;
  }
}

.title2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 0px 45px 0px;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;

  &._watcher-view {
    opacity: 1;
    transform: translateY(0);
  }
  @media (max-width: 768px) {
    font-size: 25px;
    margin: 0px 0px 20px 0px;
  }
}

.contacts {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
  gap: 30px;
  margin: 0px 12px 0px 0px;
  @media (max-width: 1310px) {
    margin: 0px 0px 0px 0px;
  }
  @media (max-width: 992px) {
    gap: 20px;
  }
  // .contacts__body

  &__body {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    @media (max-width: 768px) {
      padding: 0px 10px;
    }
  }

  // .contacts__icons

  &__icons {
    display: flex;
    gap: 7px;
    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }

  // .contacts__phones

  &__phones {
    display: flex;
    flex-direction: column;
    gap: 5px;
    a {
      white-space: nowrap;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      transition: color 0.3s;
      &:hover {
        color: var(--theme-color-accent2);
      }
    }
  }

  // .contacts__right

  &__right {
    gap: 6px;
    display: flex;
    flex-direction: column;
  }

  // .contacts__text

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: rgba(255, 255, 255, 0.6);
    @media (max-width: 480px) {
      display: none;
    }
  }

  // .contacts__link

  &__link {
    img {
      display: none;
      width: 24px;
      height: auto;
      @media (max-width: 768px) {
        display: block;
      }
    }
    span {
      font-weight: 900;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--theme-color-accent2);
      white-space: nowrap;
      border-bottom: 1px solid rgba(82, 164, 153, 0.3);
      transition: color 0.3s;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &:hover {
      color: rgba(82, 164, 153, 0.6);
    }
  }
}
.contacts-login {
  position: relative;
  &.active {
    .contacts-login__button {
      img {
        transform: rotate(-90deg);
      }
    }
    .contacts-login__dropdown {
      opacity: 1;
      pointer-events: auto;
    }
  }
  @media (max-width: 768px) {
    padding: 0px 10px;
  }
  // .contacts-login__button

  &__button {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6087a3;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s;
    img {
      width: 6px;
      height: 10px;
      transition: transform 0.3s;
      transform: rotate(90deg);
      @media (max-width: 768px) {
        display: none;
      }
    }
    &:hover {
      color: var(--theme-color-accent2);
    }
  }

  // .contacts-login__dropdown

  &__dropdown {
    position: absolute;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
    left: -10px;
    z-index: 51;
    top: 100%;
    width: calc(100% + 10px);
    background: #fff;
    padding: 10px;
    box-shadow: 0 30px 80px 0 rgba(28, 47, 45, 0.1);
    max-height: 200px;
    border-radius: 0px 0px 5px 5px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 768px) {
      margin: 5px 0px 0px 0px;
      position: relative;
      opacity: 1;
      left: 0;
      width: 100%;
      top: 0;
      max-height: 100%;
      pointer-events: auto;
      padding: 0px 0px 0px 20px;
      box-shadow: none;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
      li {
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 110%;
          color: #6087a3;
          transition: color 0.3s;
          &:hover {
            color: var(--theme-color-accent2);
          }
        }
      }
    }
  }
}
.contacts-map {
  display: flex;
  align-items: center;
  gap: 15px;
  // .contacts-map__icon

  &__icon {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    img {
      width: 20px;
      height: auto;
    }
  }

  // .contacts-map__text

  &__text {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    span {
      font-weight: 600;
    }
  }
}
