.form {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;

    @media (max-width: 768px) {
        gap: 22px;
    }

    &._watcher-view {
        opacity: 1;
        transform: translateY(0);
    }

    // .form__title
    &__title {
        flex: 0 0 130px;
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        color: #fff;
        opacity: 0;
        transform: translateY(15px);
        transition:
            opacity 0.4s ease,
            transform 0.4s ease;

        @media (max-width: 1100px) {
            text-align: center;
            flex: 1 1 auto;
        }
        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 113%;
        }

        &._watcher-view {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // .form__body
    &__body {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 768px) {
            flex-direction: column;
            gap: 25px;
        }
        .btn {
            flex: 0 0 190px;
            opacity: 0;
            transform: translateY(15px);
            transition:
                opacity 0.4s ease,
                transform 0.4s ease;
            transition-delay: 0.2s;

            @media (max-width: 768px) {
                flex: 0 1 auto;
                width: 100%;
            }

            &._watcher-view {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    // .form__inputs
    &__inputs {
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        @media (max-width: 768px) {
            width: 100%;
            gap: 10px;
        }
        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }

    // .form__input
    &__input {
        position: relative;
        opacity: 0;
        transform: translateY(15px);
        transition:
            opacity 0.4s ease,
            transform 0.4s ease;

        &:first-child {
            transition-delay: 0.05s;
        }

        &:last-child {
            transition-delay: 0.1s;
        }

        &._watcher-view {
            opacity: 1;
            transform: translateY(0);
        }
        &.textarea {
            border-radius: 3px;
            background: #fff;
            border: 1px solid transparent;
            height: 135px;
            &._form-focus {
                border: 1px solid var(--theme-color-accent2);
            }
            &._form-error {
                border: 1px solid red;
            }
        }

        input {
            width: 100%;
            border-radius: 3px;
            background: #fff;
            height: 60px;
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            padding: 0px 25px;
            border: 1px solid transparent;
            transition:
                border 0.3s,
                color 0.3s;
            &::placeholder {
                color: #6087a3;
            }
            &._form-focus {
                border: 1px solid var(--theme-color-accent2);
            }
            &._form-error {
                border: 1px solid red;
            }
        }
        textarea {
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            height: 90px;
            padding: 20px 25px 10px 25px;
            resize: none;
            transition:
                border 0.3s,
                color 0.3s;
            &::placeholder {
                color: #6087a3;
            }
        }
    }

    // .form__text
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        text-align: center;
        max-width: 410px;
        opacity: 0;
        transform: translateY(15px);
        transition:
            opacity 0.4s ease,
            transform 0.4s ease;
        transition-delay: 0.15s;
        @media (max-width: 768px) {
            font-size: 13px;
            line-height: 138%;
        }
        &._watcher-view {
            opacity: 1;
            transform: translateY(0);
        }

        a {
            color: var(--theme-color-accent3);
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.form-file-button {
    position: absolute;
    bottom: 14px;
    right: 20px;
    font-weight: 900;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: var(--52a499);
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.7;
    }
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 0;
    }
}
.form-files {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    .form-file {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.05em;
    }
    .form-file-close {
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
}

.select {
    width: 100%;
    min-width: 0;
    position: relative;
    z-index: 15 !important;
    &._select-open {
        z-index: 30 !important;
    }
    &._form-error {
        .select__title {
            border: 1px solid red;
        }
    }
    // .select__body
    &__body {
        position: relative;
    }
    // .select__title
    &__title {
        border: 1px solid transparent;
        background-color: #fff;
        width: 100%;
        color: inherit;
        text-align: left;
        cursor: pointer;
        border-radius: 5px;
        padding: 3px 10px;
        height: 25px;
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: var(--344a62);
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        transition:
            border-radius 0.3s,
            border 0.3s,
            background-color 0.3s;
        ._select-open & {
            border-radius: 5px 5px 0px 0px;
            .select__arrow {
                &::after {
                    content: "";
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik00IDBMOCA2TDAgNkw0IDBaIiBmaWxsPSIjMzQ3Q0M0Ii8+PC9zdmc+");
                }
            }
        }
    }
    // .select__arrow
    &__arrow {
        z-index: 13;
        width: 8px;
        height: 6px;
        flex: 0 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            display: block;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik00IDZMLTQuNzY5OTZlLTA4IC0yLjU0MjkyZS0wN0w4IC05LjUzNjc0ZS0wN0w0IDZaIiBmaWxsPSIjNTJBNDk5IiAvPgo8L3N2Zz4=");
            width: 8px;
            height: 6px;
            background-repeat: no-repeat;
            background-size: contain;
            transition: transform 0.3s;
        }
    }
    // .select__value
    &__value {
        display: flex;
        text-align: left;
        min-width: 0;
        overflow: hidden;
        align-items: center;
        flex: 1 1 auto;
        justify-content: flex-start;
        gap: 10px;
    }

    // .select__row
    &__row {
        display: flex;
        align-items: center;
    }
    // .select__content
    &__content {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // .select__options
    &__options {
        position: absolute;
        top: 100%;
        min-width: 100%;
        left: 0;
        border-radius: 0px 0px 5px 5px;
        background: #fff;
        padding: 5px 0px 5px 0px;
        max-height: 250px;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    // .select__option
    &__option {
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 3px 10px;
        color: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: var(--344a62);
        transition: color 0.3s;
        &:hover {
            color: var(--52a499);
        }
    }
}

.checkbox {
    position: relative;
    // .checkbox__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .checkbox__label .checkbox__icon svg {
            opacity: 1;
        }
        &:checked + .checkbox__label .checkbox__icon {
            background-color: #2e59a0;
        }
    }

    // .checkbox__label

    &__label {
        cursor: pointer;
        display: flex;
        gap: 15px;
    }

    // .checkbox__icon

    &__icon {
        border-radius: 3px;
        background-color: #f2f5f9;
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
        @media (max-width: 768px) {
            width: 16px;
            height: 16px;
            flex: 0 0 16px;
        }
        svg {
            fill: var(--ffffff);
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    // .checkbox__text

    &__text {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: var(--344a62);
    }
}

.form-calendar {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 10px;
    @media (max-width: 1330px) {
        grid-template-columns: 1fr;
    }

    // .form-calendar__inputs

    &__inputs {
        @media (max-width: 1330px) {
            position: relative;
        }
        &.active {
            .calendar {
                opacity: 1;
                pointer-events: auto;
            }
            .form-calendar__input {
                border-radius: 0px 0px 3px 3px;
            }
        }
    }

    // .form-calendar__input

    &__input {
        transition: border-radius 0.3s;
        cursor: pointer;
        position: relative;
        border-radius: 3px;
        padding: 8px 10px 8px 20px;
        background: var(--f2f5f9);
        height: 35px;
        display: flex;
        gap: 5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        text-align: left;
        color: var(--6087a3);
        input {
            width: 100%;
            height: auto;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: var(--344a62);
        }
        img {
            width: 20px;
            height: 20px;
        }
    }

    // .form-calendar__label

    &__label {
    }
}

//Календарь
.calendar {
    position: absolute;
    top: 100%;
    z-index: 40;
    left: 0;
    width: 100%;
    flex: 1 1 auto;
    background: #fff;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    @media (max-width: 992px) {
        top: auto;
        bottom: 100%;
        box-shadow: 0 -4px 24px 0 rgba(0, 0, 0, 0.25);
    }
    // .calendar__content
    &__content {
    }
    // .calendar__header
    &__header {
        display: flex;
        align-items: center;
        margin: 0px 0px 12px 0px;
        span {
            flex: 1 1 auto;
            font-weight: 600;
            font-size: 15px;
            line-height: 133%;
            letter-spacing: -0.01em;
            text-align: center;
        }
    }
    // .calendar__btn-prev
    &__btn-prev {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10px 0px 0px;
        img {
            transform: rotate(-180deg);
        }
    }
    // .calendar__btn-next
    &__btn-next {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 0px 10px;
    }
    // .calendar__wrapper
    &__wrapper {
    }
    // .calendar__days
    &__days {
        display: grid;
        height: 40px;
        column-gap: 2px;
        grid-template-columns: repeat(7, 1fr);
        pointer-events: none;
    }
    // .calendar__main
    &__main {
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, min(40px));
        @media (max-width: 375px) {
            grid-template-rows: repeat(5, min(35px));
        }
    }
}

.cell_wrapper.current {
    opacity: 1;
    color: #000;
}
.cell_wrapper {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    text-align: center;
    transition: all 0.3s ease 0s;
    border: 1px solid transparent;
    background: transparent;
    color: #000;
    &:nth-child(n + 36) {
        display: none;
    }
    &.isCurrent {
        border: 1px solid #000;
        background: transparent;
        color: #000;
        font-weight: 700;
    }
    &.isCurrent.isSelected {
        border: 1px solid transparent;
        background: #347cc4;
        color: #fff;
        font-weight: 700;
    }
}

.cell_wrapper.cal_date.prev-month.disabled {
    color: #aaa;
    pointer-events: none;
    cursor: not-allowed;
}
.cell_wrapper.cal_date.next-month.disabled {
    color: #aaa;
    pointer-events: none;
    cursor: not-allowed;
}

.cell_wrapper.cal_date.prev-month {
    color: #aaa;
}
.cell_wrapper.cal_date.next-month {
    color: #aaa;
}

.cell_wrapper.disabled {
    color: #aaa;
    pointer-events: none;
    cursor: not-allowed;
}

.cell_wrapper.isCurrent .cell_wrapper.cal_days {
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    text-align: center;
    color: #000;
}

.cell_wrapper.cal_date.current.isCurrent.inRange {
    border: 1px solid transparent;
}

.cell_wrapper.inRange {
    background-color: #347cc4;
}

.cell_wrapper.current.inRange {
    background-color: #347cc4;
    border-radius: 0;
}

.cell_wrapper.isSelected {
    background-color: #347cc4;
    color: #fff;
}
