.form {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.5s ease,
        transform 0.5s ease;

    @media (max-width: 768px) {
        gap: 22px;
    }

    &._watcher-view {
        opacity: 1;
        transform: translateY(0);
    }

    // .form__title
    &__title {
        flex: 0 0 130px;
        font-weight: 600;
        font-size: 15px;
        line-height: 120%;
        color: #fff;
        opacity: 0;
        transform: translateY(15px);
        transition:
            opacity 0.4s ease,
            transform 0.4s ease;

        @media (max-width: 1100px) {
            text-align: center;
            flex: 1 1 auto;
        }
        @media (max-width: 768px) {
            font-size: 16px;
            line-height: 113%;
        }

        &._watcher-view {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // .form__body
    &__body {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        @media (max-width: 768px) {
            flex-direction: column;
            gap: 25px;
        }
        .btn {
            flex: 0 0 190px;
            opacity: 0;
            transform: translateY(15px);
            transition:
                opacity 0.4s ease,
                transform 0.4s ease;
            transition-delay: 0.2s;

            @media (max-width: 768px) {
                flex: 0 1 auto;
                width: 100%;
            }

            &._watcher-view {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    // .form__inputs
    &__inputs {
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        @media (max-width: 768px) {
            width: 100%;
            gap: 10px;
        }
        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }

    // .form__input
    &__input {
        position: relative;
        opacity: 0;
        transform: translateY(15px);
        transition:
            opacity 0.4s ease,
            transform 0.4s ease;

        &:first-child {
            transition-delay: 0.05s;
        }

        &:last-child {
            transition-delay: 0.1s;
        }

        &._watcher-view {
            opacity: 1;
            transform: translateY(0);
        }
        &.textarea {
            border-radius: 3px;
            background: #fff;
            border: 1px solid transparent;
            height: 135px;
            &._form-focus {
                border: 1px solid var(--theme-color-accent2);
            }
            &._form-error {
                border: 1px solid red;
            }
        }

        input {
            width: 100%;
            border-radius: 3px;
            background: #fff;
            height: 60px;
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            padding: 0px 25px;
            border: 1px solid transparent;
            transition:
                border 0.3s,
                color 0.3s;
            &::placeholder {
                color: #6087a3;
            }
            &._form-focus {
                border: 1px solid var(--theme-color-accent2);
            }
            &._form-error {
                border: 1px solid red;
            }
        }
        textarea {
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            height: 90px;
            padding: 20px 25px 10px 25px;
            resize: none;
            transition:
                border 0.3s,
                color 0.3s;
            &::placeholder {
                color: #6087a3;
            }
        }
    }

    // .form__text
    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        text-align: center;
        max-width: 410px;
        opacity: 0;
        transform: translateY(15px);
        transition:
            opacity 0.4s ease,
            transform 0.4s ease;
        transition-delay: 0.15s;
        @media (max-width: 768px) {
            font-size: 13px;
            line-height: 138%;
        }
        &._watcher-view {
            opacity: 1;
            transform: translateY(0);
        }

        a {
            color: var(--theme-color-accent3);
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.form-file-button {
    position: absolute;
    bottom: 14px;
    right: 20px;
    font-weight: 900;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: var(--52a499);
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.7;
    }
    input {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-size: 0;
    }
}
.form-files {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    .form-file {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.05em;
    }
    .form-file-close {
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
}

.select {
    width: 100%;
    min-width: 0;
    position: relative;
    z-index: 15 !important;
    &._select-open {
        z-index: 30 !important;
    }
    &._form-error {
        .select__title {
            border: 1px solid red;
        }
    }
    // .select__body
    &__body {
        position: relative;
    }
    // .select__title
    &__title {
        border: 1px solid transparent;
        background: #fff;
        width: 100%;
        color: inherit;
        text-align: left;
        cursor: pointer;
        border-radius: 5px;
        padding: 3px 10px;
        height: 25px;
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: var(--344a62);
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        transition:
            border-radius 0.3s,
            border 0.3s;
        ._select-open & {
            border-radius: 5px 5px 0px 0px;
            .select__arrow {
                &::after {
                    content: "";
                    transform: rotate(-180deg);
                }
            }
        }
    }
    // .select__arrow
    &__arrow {
        z-index: 13;
        width: 8px;
        height: 6px;
        flex: 0 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            display: block;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik00IDZMLTQuNzY5OTZlLTA4IC0yLjU0MjkyZS0wN0w4IC05LjUzNjc0ZS0wN0w0IDZaIiBmaWxsPSIjNTJBNDk5IiAvPgo8L3N2Zz4=");
            width: 8px;
            height: 6px;
            background-repeat: no-repeat;
            background-size: contain;
            transition: transform 0.3s;
        }
    }
    // .select__value
    &__value {
        display: flex;
        text-align: left;
        min-width: 0;
        overflow: hidden;
        align-items: center;
        flex: 1 1 auto;
        justify-content: flex-start;
        gap: 10px;
    }

    // .select__row
    &__row {
        display: flex;
        align-items: center;
    }
    // .select__content
    &__content {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // .select__options
    &__options {
        position: absolute;
        top: 100%;
        min-width: 100%;
        left: 0;
        border-radius: 0px 0px 5px 5px;
        background: #fff;
        padding: 5px 0px 5px 0px;
        max-height: 250px;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    // .select__option
    &__option {
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 3px 10px;
        color: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: var(--344a62);
        transition: color 0.3s;
        &:hover {
            color: var(--52a499);
        }
    }
}
