:root {
  --container-width: 1310px;
  --container-padding: 20px;
  --theme-color-accent: #344a62;
  --theme-color-accent2: #52a499;
  --theme-color-accent3: #347cc4;

  --font-family: "FuturaNew", sans-serif;
}
