:root {
  --container-width: 1330px;
  --container-padding: 40px;
  --theme-color-accent: #344a62;
  --theme-color-accent2: #52a499;
  --theme-color-accent3: #347cc4;
  --6087a3: #6087a3;
  --52a499: #52a499;
  --2e59a0: #2e59a0;
  --344a62: #344a62;
  --52a499-2-paints: #52a499;
  --ffffff: #fff;
  --f2f5f9: #f2f5f9;
  --347cc4: #347cc4;

  --font-family: "FuturaNew", sans-serif;
  --second-family: "FuturaPT", sans-serif;
}
